.searhBox{
    width: 100vw;
    height: 600PX;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(225, 220, 231);
    /* position: fixed;
    top: 0;
    bottom: 0; */
}

@media(max-width:600px){
    .searhBox>input[type="text"]{
        width: 60%;
        font: 400 16px "roboto";
    }
}