* {
  scroll-behavior: smooth;
}

.text_ellipsis {
  font-size: 1vmax;
  text-overflow: ellipsis; /* will make [...] at the end */
  width:180px; /* change to your preferences */
  white-space: nowrap; /* paragraph to one line */
  overflow:hidden; /* older browsers */
}
.redColor{
  color: #ff0000;
}
.greenColor{
  color:#106a10;
}
